<div id="container">
    <%= 
        map(:center => {
        :latlng => [51.52238797921441, -0.08366235665359283],
        :zoom => 18
    },
        :markers => [
            {
                :latlng => [51.52238797921441, -0.08366235665359283]
        }
    ]
    )
    %>
</div>
<input id="geo" type="hidden" value=""/>
