<div id="container">
    <%= 
        map(:center => {
        :latlng => [34.0522300, -118.2436800],
        :zoom => 12
    },
        :markers => [
            {
                :latlng => [34.0522300, -118.2436800]
        }
    ]
    )
    %>
</div>
<input id="geo" type="hidden" value=""/>
